@media only screen and (max-width:500px){
    
}
@media only screen and (max-width:350px){
    body {
        background-image: none;
    }
    .wrapper{
        margin:0;
    }
    .header {
        height: 5em;
        margin:0;
    }
}